/* stylelint-disable function-url-quotes */
html {
  font-family: "Source Sans-Pro", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url(../assets/techwords-wallpaper.jfif);
  background-size: cover;
  background-attachment: fixed;
}

.text-align-center {
  text-align: center;
}

.white-text {
  color: white;
}

.pb-50 {
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.justify-center {
  justify-content: center;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* nav & header */

.page-header {
  background-color: darkslategray;
}

.cur-font {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
}

.nav-item {
  text-decoration: none;
}

.nav-item:hover {
  color: steelblue;
}

.hero-image {
  background-color: #303b43;

  /* background-image: url(../assets/lfz-logo.png); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 400%;

  /* height: 350px; */
}

.student-name {
  color: whitesmoke;
  font-size: 44px;
  background-color: #303b43;
  border-top: 5px double white;
  border-bottom: 5px double white;
}

/* about */

.about-section {
  background-color: gainsboro;
}

.about-image {
  max-height: 80%;
  border: 6px solid slategray;
}

.text-align-reset {
  text-align: initial;
}

.about-links {
  color: #407398;
}

/* technologies */

.tech-section {
  background-color: whitesmoke;
}

/* projects */

.projects-section {
  background-color: gainsboro;
}

/* contact */

.contact-section {
  background-color: #303b43;
}

.blue-text {
  color: lightblue;
}

.con-infos {
  margin: 0;
}
